@layer components {
	.fl-combobox_listbox {
		/* reset */
		list-style: none;

		/* layout */
		max-height: inherit;
		overflow-y: auto;

		/* spacing */
		margin: 0;
		padding: var(--fl-size-2);
	}

	.fl-combobox_listbox:focus {
		outline: none;
	}
}
