@layer components {
	.fl-combobox_control {
		/* layout */
		display: inline-flex;
		align-items: stretch;
		width: 100%;
		min-width: 0;

		/* background */
		background: var(--fl-input-bg-color, var(--fl-body-bg-color));
		border: var(--fl-input-border-size, var(--fl-border-size, 1px)) solid var(--fl-input-border-color, var(--fl-border-color));
		border-radius: var(--fl-input-border-radius, var(--fl-border-radius));

		/* effects */
		box-shadow: var(--fl-input-shadow, var(--fl-shadow-sm));
	}

	.fl-combobox_control:focus-within {
		outline: var(--fl-focus-ring-size) solid var(--fl-focus-ring-color);
		outline-offset: 0;
	}

	.fl-combobox_control[data-disabled] {
		cursor: var(--fl-disabled-cursor);
		opacity: var(--fl-disabled-opacity);
	}
}
