@layer components {
	.fl-dropdown-menu_icon {
		/* layout */
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: var(--fl-size-5);
		height: var(--fl-size-5);
		flex: 0 0 var(--fl-size-5);

		/* spacing */
		margin-right: calc(var(--fl-size-1-5) * -1);

		/* effects */
		transition: transform var(--fl-animation-duration) ease;
	}

	.fl-dropdown-menu_icon[data-expanded] {
		transform: rotate(180deg);
	}
}
