@layer components {
	.fl-input {
		/* reset */
		appearance: initial;

		/* spacing */
		padding-inline: var(--fl-control-pad-x);
		padding-block: var(--fl-control-pad-y);

		/* background */
		background: var(--fl-control-bg);

		/* text */
		color: var(--fl-control-fg);

		/* borders */
		border: var(--fl-control-border-size) solid var(--fl-control-border-color);
		border-radius: var(--fl-control-radius);
		/* effects */
		box-shadow: var(--fl-control-shadow);

		/* disabled state */
		&:disabled {
			cursor: var(--fl-disabled-cursor);
			opacity: var(--fl-disabled-opacity);
		}

		/* focus state */
		&:focus-visible:not(:disabled) {
			border-color: var(--fl-focus-border);
			box-shadow: var(--fl-focus-shadow);
			outline: none;
		}
	}
}
