@layer components {
	.fl-tabs .fl-tabs_indicator {
		/* layout */
		position: absolute;

		/* background */
		background-color: var(--fl-tabs-indicator-color);

		/* effects */
		transition: all var(--fl-animation-duration) ease-in-out;
	}

	/* horizontal indicator */
	.fl-tabs .fl-tabs_indicator[data-orientation="horizontal"] {
		/* layout */
		bottom: calc(var(--fl-border-size, 1px) * -1);
		height: var(--fl-tabs-indicator-size);

		/* background */
		border-radius: var(--fl-radius-full);
	}

	/* vertical indicator */
	.fl-tabs .fl-tabs_indicator[data-orientation="vertical"] {
		/* layout */
		right: calc(var(--fl-border-size, 1px) * -1);
		width: var(--fl-tabs-indicator-size);

		/* background */
		border-radius: var(--fl-radius-full);
	}
}
