@layer components {
	.fl-input {
		--fl-input-pad-x: var(--fl-size-2);
		--fl-input-pad-y: var(--fl-size-1-5);
		--fl-input-bg-color: var(--fl-body-bg-color);
		--fl-input-bg-hover-color: color-mix(in oklab, var(--fl-input-bg-color), black 5%);
		--fl-input-border-color: var(--fl-border-color);
		--fl-input-border-size: var(--fl-border-size, 1px);
		--fl-input-border-radius: var(--fl-border-radius);
		--fl-input-text-color: var(--fl-body-text-color);
		--fl-input-shadow: var(--fl-shadow-sm);

		/* reset */
		appearance: initial;

		/* spacing */
		padding-inline: var(--fl-input-pad-x);
		padding-block: var(--fl-input-pad-y);

		/* background */
		background: var(--fl-input-bg-color);
		border: var(--fl-input-border-size) solid var(--fl-input-border-color);
		border-radius: var(--fl-input-border-radius);

		/* text */
		color: var(--fl-input-text-color);

		/* effects */
		box-shadow: var(--fl-input-shadow);
	}

	/* focus state */
	.fl-input:focus-visible:not(:disabled) {
		outline: var(--fl-focus-ring-size) solid var(--fl-focus-ring-color);
		outline-offset: 0;
	}

	/* disabled state */
	.fl-input:disabled {
		cursor: var(--fl-disabled-cursor);
		opacity: var(--fl-disabled-opacity);
	}
}
