@layer components {
	.fl-input {
		/* reset */
		appearance: initial;

		/* spacing */
		padding-inline: var(--fl-input-pad-x);
		padding-block: var(--fl-input-pad-y);

		/* background */
		background: var(--fl-input-bg-color);
		border: var(--fl-input-border-size) solid var(--fl-input-border-color);
		border-radius: var(--fl-input-border-radius);

		/* text */
		color: var(--fl-input-text-color);

		/* effects */
		box-shadow: var(--fl-input-shadow);
	}

	/* focus state */
	.fl-input:focus-visible:not(:disabled) {
		outline: var(--fl-focus-ring-size) solid var(--fl-focus-ring-color);
		outline-offset: 0;
	}

	/* disabled state */
	.fl-input:disabled {
		cursor: var(--fl-disabled-cursor);
		opacity: var(--fl-disabled-opacity);
	}
}
