@layer components {
	.fl-select {
		/* layout */
		position: relative;
		display: inline-flex;
		flex-direction: row;

		/* background */
		background: var(--fl-control-bg);

		/* text */
		color: var(--fl-control-fg);

		/* borders */
		border: var(--fl-control-border-size) solid var(--fl-control-border-color);
		border-radius: var(--fl-control-radius);

		/* effects */
		box-shadow: var(--fl-control-shadow);

		/* pointer */
		cursor: var(--fl-control-cursor);

		/* disabled state */
		&[data-disabled] {
			cursor: var(--fl-disabled-cursor);
			opacity: var(--fl-disabled-opacity);
		}

		/* focus state */
		&:focus-within:not(:disabled) {
			border-color: var(--fl-focus-border);
			box-shadow: var(--fl-focus-shadow);
			outline: none;
		}

		/* select part */
		& .select {
			/* reset */
			appearance: none;

			/* layout */
			width: 100%;

			/* spacing */
			padding-inline: var(--fl-control-pad-x);
			padding-block: var(--fl-control-pad-y);
			padding-right: var(--fl-size-8);

			/* borders */
			border: none;

			/* background */
			background: transparent;

			/* pointer */
			cursor: var(--fl-control-cursor);
		}

		&[data-disabled] .select {
			cursor: var(--fl-disabled-cursor);
		}

		/* arrow part */
		& .arrow {
			/* layout */
			position: absolute;
			right: var(--fl-size-2);
			top: 54%;
			transform: translateY(-50%);

			/* text */
			color: var(--fl-control-fg);

			/* sizing */
			width: var(--fl-size-4);
			height: var(--fl-size-4);

			/* pointer */
			pointer-events: none;
		}
	}
}
