@layer components {
	.fl-button {
		/* reset */
		appearance: none;

		/* layout */
		display: inline-flex;
		flex-direction: row;
		align-items: center;

		/* spacing */
		padding-inline: var(--fl-control-pad-x);
		padding-block: var(--fl-control-pad-y);

		/* background */
		background: var(--fl-color-gray-100);

		/* text */
		color: var(--fl-control-fg);
		font-weight: var(--fl-font-weight-medium);

		/* borders */
		border: var(--fl-control-border-size) solid var(--fl-control-border-color);
		border-radius: var(--fl-control-radius);

		/* effects */
		box-shadow: var(--fl-control-shadow);

		/* pointer */
		cursor: var(--fl-control-cursor);

		/* hover state */
		&:hover:not(:disabled) {
			background-color: var(--fl-color-gray-200);
		}

		/* active state */
		&:active:not(:disabled) {
			transform: translateY(1px);
			background-color: var(--fl-color-gray-300);
		}

		/* disabled state */
		&:disabled {
			cursor: var(--fl-disabled-cursor);
			opacity: var(--fl-disabled-opacity);
		}

		/* focus state */
		&:focus-visible:not(:disabled) {
			border-color: var(--fl-focus-border-color);
			box-shadow: var(--fl-focus-shadow);
			outline: none;
		}
	}
}
