@layer components {
	.fl-button {
		--fl-button-pad-x: var(--fl-space-2);
		--fl-button-pad-y: var(--fl-space-1);
		--fl-button-bg-color: var(--fl-color-bg-surface);
		--fl-button-bg-hover-color: var(--fl-color-neutral-50);
		--fl-button-bg-active-color: var(--fl-color-neutral-100);
		--fl-button-text-color: var(--fl-color-text-default);
		--fl-button-border-size: 1px;
		--fl-button-border-radius: var(--fl-input-radius);
		--fl-button-border-color: var(--fl-input-border-color);
		--fl-button-disabled-bg-color: var(--fl-input-disabled-bg-color);
		--fl-button-disabled-text-color: var(--fl-input-disabled-text-color);

		/* reset */
		appearance: none;
		-webkit-appearance: none;

		/* layout */
		display: inline-flex;
		flex-direction: row;
		align-items: center;

		/* spacing */
		padding-inline: var(--fl-button-pad-x);
		padding-block: var(--fl-button-pad-y);

		/* background */
		background: var(--fl-button-bg-color);

		/* text */
		color: var(--fl-button-text-color);

		/* borders */
		border: var(--fl-button-border-size) solid var(--fl-button-border-color);
		border-radius: var(--fl-button-border-radius);

		/* effects */
		box-shadow: var(--fl-input-shadow);

		/* cursor */
		cursor: pointer;

		/* active state */
		&:active:not(:disabled) {
			background-color: var(--fl-button-bg-active-color);
			transform: translateY(1px);
		}

		/* hover state */
		&:hover:not(:disabled) {
			background-color: var(--fl-button-bg-hover-color);
		}

		/* disabled state */
		&:disabled {
			background-color: var(--fl-button-disabled-bg-color);
			color: var(--fl-button-disabled-text-color);
			cursor: not-allowed;
		}
	}
}
