@layer components {
	.fl-button {
		--fl-button-pad-x: var(--fl-size-2);
		--fl-button-pad-y: var(--fl-size-1);

		--fl-button-bg: var(--fl-color-neutral-25);
		--fl-button-bg-hover: var(--fl-color-neutral-50);
		--fl-button-bg-active: var(--fl-color-neutral-100);
		--fl-button-bg-disabled: var(--fl-input-bg-disabled);

		--fl-button-fg: var(--fl-color-fg-default);
		--fl-button-fg-disabled: var(--fl-input-fg-disabled);

		--fl-button-border-size: 1px;
		--fl-button-border-radius: var(--fl-input-radius);
		--fl-button-border-color: var(--fl-input-border-color);

		/* reset */
		appearance: none;

		/* layout */
		display: inline-flex;
		flex-direction: row;
		align-items: center;

		/* spacing */
		padding-inline: var(--fl-button-pad-x);
		padding-block: var(--fl-button-pad-y);

		/* background */
		background: var(--fl-button-bg);

		/* text */
		color: var(--fl-button-fg);

		/* borders */
		border: var(--fl-button-border-size) solid var(--fl-button-border-color);
		border-radius: var(--fl-button-border-radius);

		/* effects */
		box-shadow: var(--fl-input-shadow);

		/* pointer */
		cursor: pointer;

		/* active state */
		&:active:not(:disabled) {
			transform: translateY(1px);
			background-color: var(--fl-button-bg-active);

		}

		/* hover state */
		&:hover:not(:disabled) {
			background-color: var(--fl-button-bg-hover);
		}

		/* disabled state */
		&:disabled {
			background-color: var(--fl-button-bg-disabled);
			color: var(--fl-button-fg-disabled);
			cursor: not-allowed;
		}
	}
}
