@layer base {
	:root {
		--fl-color-red-50: oklch(0.971 0.013 17.38);
		--fl-color-red-100: oklch(0.936 0.032 17.717);
		--fl-color-red-200: oklch(0.885 0.062 18.334);
		--fl-color-red-300: oklch(0.808 0.114 19.571);
		--fl-color-red-400: oklch(0.704 0.191 22.216);
		--fl-color-red-500: oklch(0.637 0.237 25.331);
		--fl-color-red-600: oklch(0.577 0.245 27.325);
		--fl-color-red-700: oklch(0.505 0.213 27.518);
		--fl-color-red-800: oklch(0.444 0.177 26.899);
		--fl-color-red-900: oklch(0.396 0.141 25.723);
		--fl-color-red-950: oklch(0.258 0.092 26.042);

		--fl-color-orange-50: oklch(0.98 0.016 73.684);
		--fl-color-orange-100: oklch(0.954 0.038 75.164);
		--fl-color-orange-200: oklch(0.901 0.076 70.697);
		--fl-color-orange-300: oklch(0.837 0.128 66.29);
		--fl-color-orange-400: oklch(0.75 0.183 55.934);
		--fl-color-orange-500: oklch(0.705 0.213 47.604);
		--fl-color-orange-600: oklch(0.646 0.222 41.116);
		--fl-color-orange-700: oklch(0.553 0.195 38.402);
		--fl-color-orange-800: oklch(0.47 0.157 37.304);
		--fl-color-orange-900: oklch(0.408 0.123 38.172);
		--fl-color-orange-950: oklch(0.266 0.079 36.259);

		--fl-color-amber-50: oklch(0.987 0.022 95.277);
		--fl-color-amber-100: oklch(0.962 0.059 95.617);
		--fl-color-amber-200: oklch(0.924 0.12 95.746);
		--fl-color-amber-300: oklch(0.879 0.169 91.605);
		--fl-color-amber-400: oklch(0.828 0.189 84.429);
		--fl-color-amber-500: oklch(0.769 0.188 70.08);
		--fl-color-amber-600: oklch(0.666 0.179 58.318);
		--fl-color-amber-700: oklch(0.555 0.163 48.998);
		--fl-color-amber-800: oklch(0.473 0.137 46.201);
		--fl-color-amber-900: oklch(0.414 0.112 45.904);
		--fl-color-amber-950: oklch(0.279 0.077 45.635);

		--fl-color-yellow-50: oklch(0.987 0.026 102.212);
		--fl-color-yellow-100: oklch(0.973 0.071 103.193);
		--fl-color-yellow-200: oklch(0.945 0.129 101.54);
		--fl-color-yellow-300: oklch(0.905 0.182 98.111);
		--fl-color-yellow-400: oklch(0.852 0.199 91.936);
		--fl-color-yellow-500: oklch(0.795 0.184 86.047);
		--fl-color-yellow-600: oklch(0.681 0.162 75.834);
		--fl-color-yellow-700: oklch(0.554 0.135 66.442);
		--fl-color-yellow-800: oklch(0.476 0.114 61.907);
		--fl-color-yellow-900: oklch(0.421 0.095 57.708);
		--fl-color-yellow-950: oklch(0.286 0.066 53.813);

		--fl-color-lime-50: oklch(0.986 0.031 120.757);
		--fl-color-lime-100: oklch(0.967 0.067 122.328);
		--fl-color-lime-200: oklch(0.938 0.127 124.321);
		--fl-color-lime-300: oklch(0.897 0.196 126.665);
		--fl-color-lime-400: oklch(0.841 0.238 128.85);
		--fl-color-lime-500: oklch(0.768 0.233 130.85);
		--fl-color-lime-600: oklch(0.648 0.2 131.684);
		--fl-color-lime-700: oklch(0.532 0.157 131.589);
		--fl-color-lime-800: oklch(0.453 0.124 130.933);
		--fl-color-lime-900: oklch(0.405 0.101 131.063);
		--fl-color-lime-950: oklch(0.274 0.072 132.109);

		--fl-color-green-50: oklch(0.982 0.018 155.826);
		--fl-color-green-100: oklch(0.962 0.044 156.743);
		--fl-color-green-200: oklch(0.925 0.084 155.995);
		--fl-color-green-300: oklch(0.871 0.15 154.449);
		--fl-color-green-400: oklch(0.792 0.209 151.711);
		--fl-color-green-500: oklch(0.723 0.219 149.579);
		--fl-color-green-600: oklch(0.627 0.194 149.214);
		--fl-color-green-700: oklch(0.527 0.154 150.069);
		--fl-color-green-800: oklch(0.448 0.119 151.328);
		--fl-color-green-900: oklch(0.393 0.095 152.535);
		--fl-color-green-950: oklch(0.266 0.065 152.934);

		--fl-color-emerald-50: oklch(0.979 0.021 166.113);
		--fl-color-emerald-100: oklch(0.95 0.052 163.051);
		--fl-color-emerald-200: oklch(0.905 0.093 164.15);
		--fl-color-emerald-300: oklch(0.845 0.143 164.978);
		--fl-color-emerald-400: oklch(0.765 0.177 163.223);
		--fl-color-emerald-500: oklch(0.696 0.17 162.48);
		--fl-color-emerald-600: oklch(0.596 0.145 163.225);
		--fl-color-emerald-700: oklch(0.508 0.118 165.612);
		--fl-color-emerald-800: oklch(0.432 0.095 166.913);
		--fl-color-emerald-900: oklch(0.378 0.077 168.94);
		--fl-color-emerald-950: oklch(0.262 0.051 172.552);

		--fl-color-teal-50: oklch(0.984 0.014 180.72);
		--fl-color-teal-100: oklch(0.953 0.051 180.801);
		--fl-color-teal-200: oklch(0.91 0.096 180.426);
		--fl-color-teal-300: oklch(0.855 0.138 181.071);
		--fl-color-teal-400: oklch(0.777 0.152 181.912);
		--fl-color-teal-500: oklch(0.704 0.14 182.503);
		--fl-color-teal-600: oklch(0.6 0.118 184.704);
		--fl-color-teal-700: oklch(0.511 0.096 186.391);
		--fl-color-teal-800: oklch(0.437 0.078 188.216);
		--fl-color-teal-900: oklch(0.386 0.063 188.416);
		--fl-color-teal-950: oklch(0.277 0.046 192.524);

		--fl-color-cyan-50: oklch(0.984 0.019 200.873);
		--fl-color-cyan-100: oklch(0.956 0.045 203.388);
		--fl-color-cyan-200: oklch(0.917 0.08 205.041);
		--fl-color-cyan-300: oklch(0.865 0.127 207.078);
		--fl-color-cyan-400: oklch(0.789 0.154 211.53);
		--fl-color-cyan-500: oklch(0.715 0.143 215.221);
		--fl-color-cyan-600: oklch(0.609 0.126 221.723);
		--fl-color-cyan-700: oklch(0.52 0.105 223.128);
		--fl-color-cyan-800: oklch(0.45 0.085 224.283);
		--fl-color-cyan-900: oklch(0.398 0.07 227.392);
		--fl-color-cyan-950: oklch(0.302 0.056 229.695);

		--fl-color-sky-50: oklch(0.977 0.013 236.62);
		--fl-color-sky-100: oklch(0.951 0.026 236.824);
		--fl-color-sky-200: oklch(0.901 0.058 230.902);
		--fl-color-sky-300: oklch(0.828 0.111 230.318);
		--fl-color-sky-400: oklch(0.746 0.16 232.661);
		--fl-color-sky-500: oklch(0.685 0.169 237.323);
		--fl-color-sky-600: oklch(0.588 0.158 241.966);
		--fl-color-sky-700: oklch(0.5 0.134 242.749);
		--fl-color-sky-800: oklch(0.443 0.11 240.79);
		--fl-color-sky-900: oklch(0.391 0.09 240.876);
		--fl-color-sky-950: oklch(0.293 0.066 243.157);

		--fl-color-blue-50: oklch(0.97 0.014 254.604);
		--fl-color-blue-100: oklch(0.932 0.032 255.585);
		--fl-color-blue-200: oklch(0.882 0.059 254.128);
		--fl-color-blue-300: oklch(0.809 0.105 251.813);
		--fl-color-blue-400: oklch(0.707 0.165 254.624);
		--fl-color-blue-500: oklch(0.623 0.214 259.815);
		--fl-color-blue-600: oklch(0.546 0.245 262.881);
		--fl-color-blue-700: oklch(0.488 0.243 264.376);
		--fl-color-blue-800: oklch(0.424 0.199 265.638);
		--fl-color-blue-900: oklch(0.379 0.146 265.522);
		--fl-color-blue-950: oklch(0.282 0.091 267.935);

		--fl-color-indigo-50: oklch(0.962 0.018 272.314);
		--fl-color-indigo-100: oklch(0.93 0.034 272.788);
		--fl-color-indigo-200: oklch(0.87 0.065 274.039);
		--fl-color-indigo-300: oklch(0.785 0.115 274.713);
		--fl-color-indigo-400: oklch(0.673 0.182 276.935);
		--fl-color-indigo-500: oklch(0.585 0.233 277.117);
		--fl-color-indigo-600: oklch(0.511 0.262 276.966);
		--fl-color-indigo-700: oklch(0.457 0.24 277.023);
		--fl-color-indigo-800: oklch(0.398 0.195 277.366);
		--fl-color-indigo-900: oklch(0.359 0.144 278.697);
		--fl-color-indigo-950: oklch(0.257 0.09 281.288);

		--fl-color-violet-50: oklch(0.969 0.016 293.756);
		--fl-color-violet-100: oklch(0.943 0.029 294.588);
		--fl-color-violet-200: oklch(0.894 0.057 293.283);
		--fl-color-violet-300: oklch(0.811 0.111 293.571);
		--fl-color-violet-400: oklch(0.702 0.183 293.541);
		--fl-color-violet-500: oklch(0.606 0.25 292.717);
		--fl-color-violet-600: oklch(0.541 0.281 293.009);
		--fl-color-violet-700: oklch(0.491 0.27 292.581);
		--fl-color-violet-800: oklch(0.432 0.232 292.759);
		--fl-color-violet-900: oklch(0.38 0.189 293.745);
		--fl-color-violet-950: oklch(0.283 0.141 291.089);

		--fl-color-purple-50: oklch(0.977 0.014 308.299);
		--fl-color-purple-100: oklch(0.946 0.033 307.174);
		--fl-color-purple-200: oklch(0.902 0.063 306.703);
		--fl-color-purple-300: oklch(0.827 0.119 306.383);
		--fl-color-purple-400: oklch(0.714 0.203 305.504);
		--fl-color-purple-500: oklch(0.627 0.265 303.9);
		--fl-color-purple-600: oklch(0.558 0.288 302.321);
		--fl-color-purple-700: oklch(0.496 0.265 301.924);
		--fl-color-purple-800: oklch(0.438 0.218 303.724);
		--fl-color-purple-900: oklch(0.381 0.176 304.987);
		--fl-color-purple-950: oklch(0.291 0.149 302.717);

		--fl-color-fuchsia-50: oklch(0.977 0.017 320.058);
		--fl-color-fuchsia-100: oklch(0.952 0.037 318.852);
		--fl-color-fuchsia-200: oklch(0.903 0.076 319.62);
		--fl-color-fuchsia-300: oklch(0.833 0.145 321.434);
		--fl-color-fuchsia-400: oklch(0.74 0.238 322.16);
		--fl-color-fuchsia-500: oklch(0.667 0.295 322.15);
		--fl-color-fuchsia-600: oklch(0.591 0.293 322.896);
		--fl-color-fuchsia-700: oklch(0.518 0.253 323.949);
		--fl-color-fuchsia-800: oklch(0.452 0.211 324.591);
		--fl-color-fuchsia-900: oklch(0.401 0.17 325.612);
		--fl-color-fuchsia-950: oklch(0.293 0.136 325.661);

		--fl-color-pink-50: oklch(0.971 0.014 343.198);
		--fl-color-pink-100: oklch(0.948 0.028 342.258);
		--fl-color-pink-200: oklch(0.899 0.061 343.231);
		--fl-color-pink-300: oklch(0.823 0.12 346.018);
		--fl-color-pink-400: oklch(0.718 0.202 349.761);
		--fl-color-pink-500: oklch(0.656 0.241 354.308);
		--fl-color-pink-600: oklch(0.592 0.249 0.584);
		--fl-color-pink-700: oklch(0.525 0.223 3.958);
		--fl-color-pink-800: oklch(0.459 0.187 3.815);
		--fl-color-pink-900: oklch(0.408 0.153 2.432);
		--fl-color-pink-950: oklch(0.284 0.109 3.907);

		--fl-color-rose-50: oklch(0.969 0.015 12.422);
		--fl-color-rose-100: oklch(0.941 0.03 12.58);
		--fl-color-rose-200: oklch(0.892 0.058 10.001);
		--fl-color-rose-300: oklch(0.81 0.117 11.638);
		--fl-color-rose-400: oklch(0.712 0.194 13.428);
		--fl-color-rose-500: oklch(0.645 0.246 16.439);
		--fl-color-rose-600: oklch(0.586 0.253 17.585);
		--fl-color-rose-700: oklch(0.514 0.222 16.935);
		--fl-color-rose-800: oklch(0.455 0.188 13.697);
		--fl-color-rose-900: oklch(0.41 0.159 10.272);
		--fl-color-rose-950: oklch(0.271 0.105 12.094);

		--fl-color-slate-50: oklch(0.984 0.003 247.858);
		--fl-color-slate-100: oklch(0.968 0.007 247.896);
		--fl-color-slate-200: oklch(0.929 0.013 255.508);
		--fl-color-slate-300: oklch(0.869 0.022 252.894);
		--fl-color-slate-400: oklch(0.704 0.04 256.788);
		--fl-color-slate-500: oklch(0.554 0.046 257.417);
		--fl-color-slate-600: oklch(0.446 0.043 257.281);
		--fl-color-slate-700: oklch(0.372 0.044 257.287);
		--fl-color-slate-800: oklch(0.279 0.041 260.031);
		--fl-color-slate-900: oklch(0.208 0.042 265.755);
		--fl-color-slate-950: oklch(0.129 0.042 264.695);

		--fl-color-gray-50: oklch(0.985 0.002 247.839);
		--fl-color-gray-100: oklch(0.967 0.003 264.542);
		--fl-color-gray-200: oklch(0.928 0.006 264.531);
		--fl-color-gray-300: oklch(0.872 0.01 258.338);
		--fl-color-gray-400: oklch(0.707 0.022 261.325);
		--fl-color-gray-500: oklch(0.551 0.027 264.364);
		--fl-color-gray-600: oklch(0.446 0.03 256.802);
		--fl-color-gray-700: oklch(0.373 0.034 259.733);
		--fl-color-gray-800: oklch(0.278 0.033 256.848);
		--fl-color-gray-900: oklch(0.21 0.034 264.665);
		--fl-color-gray-950: oklch(0.13 0.028 261.692);

		--fl-color-zinc-50: oklch(0.985 0 0);
		--fl-color-zinc-100: oklch(0.967 0.001 286.375);
		--fl-color-zinc-200: oklch(0.92 0.004 286.32);
		--fl-color-zinc-300: oklch(0.871 0.006 286.286);
		--fl-color-zinc-400: oklch(0.705 0.015 286.067);
		--fl-color-zinc-500: oklch(0.552 0.016 285.938);
		--fl-color-zinc-600: oklch(0.442 0.017 285.786);
		--fl-color-zinc-700: oklch(0.37 0.013 285.805);
		--fl-color-zinc-800: oklch(0.274 0.006 286.033);
		--fl-color-zinc-900: oklch(0.21 0.006 285.885);
		--fl-color-zinc-950: oklch(0.141 0.005 285.823);

		--fl-color-neutral-50: oklch(0.985 0 0);
		--fl-color-neutral-100: oklch(0.97 0 0);
		--fl-color-neutral-200: oklch(0.922 0 0);
		--fl-color-neutral-300: oklch(0.87 0 0);
		--fl-color-neutral-400: oklch(0.708 0 0);
		--fl-color-neutral-500: oklch(0.556 0 0);
		--fl-color-neutral-600: oklch(0.439 0 0);
		--fl-color-neutral-700: oklch(0.371 0 0);
		--fl-color-neutral-800: oklch(0.269 0 0);
		--fl-color-neutral-900: oklch(0.205 0 0);
		--fl-color-neutral-950: oklch(0.145 0 0);

		--fl-color-stone-50: oklch(0.985 0.001 106.423);
		--fl-color-stone-100: oklch(0.97 0.001 106.424);
		--fl-color-stone-200: oklch(0.923 0.003 48.717);
		--fl-color-stone-300: oklch(0.869 0.005 56.366);
		--fl-color-stone-400: oklch(0.709 0.01 56.259);
		--fl-color-stone-500: oklch(0.553 0.013 58.071);
		--fl-color-stone-600: oklch(0.444 0.011 73.639);
		--fl-color-stone-700: oklch(0.374 0.01 67.558);
		--fl-color-stone-800: oklch(0.268 0.007 34.298);
		--fl-color-stone-900: oklch(0.216 0.006 56.043);
		--fl-color-stone-950: oklch(0.147 0.004 49.25);
	}
}
