@layer reset, base, components, utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import './reset.css';
@import './colors.css';
@import './tokens.css';

html, body {
	font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  	font-optical-sizing: auto;
  	font-style: normal;
}
